*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  width:100%;
  overflow-x:hidden;
  background:#f8f9fd;
  font-family:"Poppins",sans-serif;
}

a{
  text-decoration:none;
}

img{
  display:block;
  max-width:100%;
}

button,
input,
select{
  font-family:inherit;
}